<tr>
    <td><%=image_tag storextra.avatar, style: 'height:150px; width:150px;' if storextra.avatar.attached? %></td> 
    <td><%= storextra.store.name %></td>
    <% if user_signed_in?%>
        <td><%= link_to 'Show', storextra %></td>
    <%end%>
</tr>    
